body {
    margin: 0;
    box-sizing: border-box;
}

/* header: booleaner-logo */

header {
    background-image: url("./../img/pattern.png");
    background-size: contain;
    background-color: rgb(0, 153, 255);
    height: 80px;
}

#logo-thebooleaner {
    width: 200px;
    margin-top: 25px;
}

/* main: article */

#title_info {
    margin-left: 5px;
}

#author {
    color: lightgray;
}

span {
    color: aqua;
}

#date {
    color: lightgray;
    font-size: 10px;
}

/* footer: more-interests */