body {
    margin: 0;
    box-sizing: border-box;
}

/* header: booleaner-logo */

header {
    background-image: url("./../img/pattern.png");
    background-size: contain;
    background-color: rgb(0, 153, 255);
    height: 80px;
}

#logo-thebooleaner {
    width: 200px;
    margin-top: 25px;
}

/* main: article */

/* #title_info */

#title_info {
    margin-left: 5px;
}

#author {
    color: lightgray;
}

span {
    color: aqua;
}

#date {
    color: lightgray;
    font-size: 10px;
}

/* /#title_info */

/* #photos_captions */

figcaption {
    font-size: 10px;
}
/* /#photos_captions */

/* #article_body */

/* table */
#table_adapt {
    width: 50%;
}

#left_adjust {
    text-align: left;
    background-color: rgb(11, 175, 230);
    color: white;
}

#colored_raw {
    background-color: rgb(132, 203, 226);
}
/* /table */

/* /#article_body */

/* footer: more-interests */

#footer_title {
    color: gray;
}

#first_advice {
   background-image: url("./../img/monitor.jpg");
   height: 250px;
   width: 250px;
   background-repeat: no-repeat;
   color: white;
   font-size: 20px;
   font-weight: 800;
   padding-top: 2px;
   padding-left: 5px;
}

#second_advice {
    background-image: url("./../img/graph.jpg");
   height: 250px;
   width: 250px;
   background-repeat: no-repeat;
   color: white;
   font-size: 20px;
   font-weight: 800;
   padding-top: 2px;
   padding-left: 5px;
}

/* /footer: more-interests */
